server:
  port: 8085

spring:
  application:
    name: gain-experience-data
  datasource:
    url: jdbc:mysql://localhost:3306/how2java?serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

mybatis:
  mapper-locations: classpath:/mapper/*Dao.xml
